<div class="container mt-5">
  <div class="card custom-card">
    <div class="card-body">
      <h2 class="card-title text-white"><%= action_name.capitalize %> Project</h2>
      <%= form_with(model: [:admin, @project], local: true) do |form| %>
        <% if @project.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>
            <ul>
              <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-4">
          <%= form.label :title, class: 'form-label text-white' %>
          <%= form.text_field :title, class: 'form-control custom-input' %>
        </div>

        <div class="mb-4">
          <%= form.label :content, class: 'form-label text-white' %>
          <%= form.text_area :content, class: 'form-control custom-input' %>
        </div>

        <div class="mb-4">
          <%= form.label :technology_id, class: 'form-label text-white' %>
          <%= form.collection_select :technology_id, Technology.all, :id, :name, {}, { class: 'form-select custom-input' } %>
        </div>

        <div class="mb-4">
          <%= form.label :image, class: 'form-label text-white' %>
          <%= form.file_field :image, class: 'form-control custom-input' %>
        </div>

        <div class="mb-4">
          <%= form.label :github_url, "GitHub URL", class: 'form-label text-white' %>
          <%= form.text_field :github_url, class: 'form-control custom-input' %>
        </div>

        <div class="mb-4">
          <%= form.label :website_url, "Website URL", class: 'form-label text-white' %>
          <%= form.text_field :website_url, class: 'form-control custom-input' %>
        </div>

        <div class="d-grid">
          <%= form.submit class: 'btn btn-primary' %>
        </div>

        <div class="mt-4">
          <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
